__pycache__/
*.pyc
venv/
.env
*.log
*.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl
terraform.tfvars
*.pem
*/*.tfstate
*/*.tfstate.backup
*/.terraform/
*/.terraform.lock.hcl
*/terraform.tfvars
*/*.pem

